* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

.container {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.364);
  width: 50%;
  padding: 25px;
  border-radius: 15px;
  height: 90vh;
  overflow-y: scroll;
}

.cards {
  display: flex;
  flex-direction: column;
}

